body {
    background-color: #f8f8f8;
    color: #333;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
  }
  
  .links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .links li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .links a {
    color: #000;
    text-decoration: none;
  }